<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/lizhichao/360云盘/Apple开发/Demo/画饼状图并且添加点击事件/BingZhuangTu/BingZhuangTu.xcodeproj</string>
</dict>
</plist>
